<div class="body-container">
    <div class="home-img">
        <h1>ECURIES<br>
        DE PERSEVERE
        </h1>
    </div>
    <div class="wood-img">
        <h2>Notre ligne de conduite</h2>
        <div class="phrase">
            <p>Chaque cheval possède des qualités, peu importe sa race, ses origines, ou sa discipline, il suffit juste de prendre le temps d'écouter et de regarder pour trouver une solution adaptée.</p>
            <p>Karine MASSOT</p>
        </div>
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/xl9Yt_wpBtc?wmode=transparent&autoplay=0&mute=0&theme=dark&controls=1&autohide=1&loop=0&showinfo=0&rel=0&enablejsapi=0" 
                title="Ecuries de persevere"></iframe>
    </div>
</div>
