<div class="background">
    <div class="rdv-container">

        <img id="woodimg" src="../../../../assets/images/bghorse.jpg" alt="">
    
        <div class="rdv">
            <h1>Reservation</h1>
        
            <label for="appt">Choisissez la date :</label>

            <input type="date" name="dateofbirth" id="dateofbirth">

            <label for="appt">Choisissez l'heure :</label>

            <input type="time" id="appt" name="appt"
                min="09:00" max="18:00" required>

            <label for="">Vous avez choisi comme ci-dessous :</label>

            <p>10 Juin 11:00</p>


            <button id="reserverbtn">Reserver</button>
        </div>
        
    </div>
</div>

