.installations-container {
    width: 100%;
    background-image: url("../../../assets/images/wood.jpg");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 100px;
}

.installations-container h2 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
}

#install-p {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    font-size: 20px;
}

.cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.cards {
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cards img {
    width: 400px;
    height: 300px;
    display: block;
    background-size: cover;
}

.card-info {
    position: absolute;
    width: 400px;
    height: 120px;
    margin-top: -120px;
    background-color: rgba(54, 45, 29,1);
    z-index: 1;
}

#title {
    color: #fff;
    text-align: center;
}

.description {
    color: lightgreen;
    width: 100%;
    font-size: 16px;
    text-align: center;
}