<div class="profile-container">

    <div class="background-img"></div>
    
    <img id="userImage" src="../../../assets/images/profileuser.jpg" alt="">

    <div class="profile-form">
        <div class="left-info">
            <h2>IKIM</h2>
            <p>Injin</p>
            <p>Status</p>
            <p>ikim@gmail.com</p>
            <p>13100</p>
            <p>Aix-en-Provence</p>
        </div>
        
        <form class="input-box">
            <div class="flex-input first-flex">
                <input type="text" placeholder="Prenom">
                <input type="text" placeholder="Age">
            </div>
            
            <input id="email" type="text" placeholder="Email@gmail.com">
    
            <div class="flex-input">
                <input id="zipcode" type="text" placeholder="Zip Code">
                <input id="ville" type="text" placeholder="Ville">
                <input type="text" placeholder="Addresse">
            </div>

            <button>Update</button>
        </form>
        
    </div>

</div>
