<div class="header-container">
    <div class="logo">
        <img id="logoimg" src="../../../assets/images/logo.png" alt="">
    </div>
    <ul>
        <li><a href="/home">ACCEUIL</a></li>
        <li><a href="/equipe">EQUIPE</a></li>
        <li><a href="/installations">INSTALLATIONS</a></li>

        <div class="dropdown">
            <li>PRESTATIONS</li>
            <div class="dropdown-content">
                <a href="/travailetenseignement">Travail du cheval et enseignement</a>
                <a href="/formulesettarifs">Formules et Tarifs</a>
                <a href="/stages">Stages</a>
            </div>
        </div>
        
        <li><a href="">PHILOSOPHE</a></li>
        <li><a href="">A NOS COTES</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="">BLOG</a></li>
    </ul>
</div>
