.ft-container {
    background-image: url("../../../../assets/images/wood.jpg");
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.ft-container h1 {
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: 700;
}

.cards-box {
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: center;
}

.imgs {
    display: block;
    width: 380px;
    height: 520px;
    object-fit: cover;
}

.infos {
    width: 380px;
    height: 520px;
    text-align: center;
    background-color: rgba(54, 45, 29,1);
}

.infos h2 {
    color: lawngreen;
}

.infos p {
    color: #fff;
    line-height: 30px;
}

/******************************************************/

.cards {
    position: relative;
    width: 450px;
    height: 350px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.cardImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 0.5s;
}

.cards:hover .cardImg img {
    opacity: 0;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.cards:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.content ul li {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    text-align: justify;
}

.cards:hover .content ul li {
    opacity: 1;
    transition: 0.5s;
}