.stages-container1 {
    background-image: url("../../../../assets/images/stage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
}

.title {
    width: 350px;
    height: 120px;
    background-color: rgba(54, 45, 29,1);
    border: 1px solid #fff;
    color: lightgreen;
    position: absolute;
    left: 65%;
    top: 30%;
}

.title h2 {
    text-align: center;
    margin-top: 48px;
    font-size: 30px;
    letter-spacing: 2px;
}

.stages-container2 {
    position: relative;
    width: 100%;
}

.stages-container2::before {
    content: "";
    background-image: url("../../../../assets/images/wood.jpg");
    background-repeat: repeat;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.infos {
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
}

.infos p {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
}

.planning {
    position: relative;
    display: flex;
    flex-direction: column;
}

.planning h3, .planning p {
    margin: 0;
    text-align: center;
}

.cards-flex {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards img {
    display: block;
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.card-infos {
    width: 400px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.card-infos a {
    margin: auto;
    display: inline-block;
}

.card-infos button {
    width: 50%;
    margin: auto;
}

.big-card {
    width: 800px;
    margin: auto;
    margin-top: 40px;
    background-color: antiquewhite;
}

.big-card a {
    display: inline-block;
    margin: auto;
}

#big-img {
    display: block;
    width: 800px;
    height: 300px;
    margin: auto;
    object-fit: cover;
}